# Compiler Related files
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.log
*.tlog
*.exe
*.out
*.app
build/*


# Generated lookup-tables
*/CylindricalBesselTable.bin
*/SphericalBesselTable.bin

# Visual Studio stuff
*.VC.DB
.vs/*
.svn/*
*.vcxproj.user

# JetBrains stuff
.idea/*

# Temporary files
*~
*.bak
*.swp
.DS_Store
Thumbs.db