# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated lookup-tables
/bin/CylindricalBesselTable.bin
/bin/SphericalBesselTable.bin

# Libs folder 
# contains dependancies for windows platform
/Libs/*

# Visual Studio stuff
*.VC.DB
.vs/*
.svn/*
_build/*
*.vcxproj.user

# Temperary files
*~
*.bak
*.swp
